
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {

  text-align: -webkit-center;
}

.todos {
  text-align: -webkit-center;


}

.todo {
  padding-bottom: 30px;
  text-align: left;
  max-width: 500px;

}
